.modal-content {
  background-color: transparent;
  border: none;
}

.signin-container {
  padding: 30px;
  width: 350px;
  border-radius: 5px;

  background-color: $white;

  margin: 0 auto;
}
.signin_tabs {
  margin-bottom: 20px;

  & > span {
    cursor: pointer;
    &:first-child {
      margin-right: 30px;
    }
  }
  .active-tab {
    position: relative;
    color: $red;
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: -5px;
      left: 0;
      background-color: $red;
    }
  }
}
.signin-form {
  display: flex;
  flex-direction: column;

  &_btn {
    background: $red !important;
    width: 140px;
    padding: 9px 30px !important;
    color: $white !important;
    margin-top: 40px !important;
  }
  & > div:not(:last-child) {
    margin-bottom: 20px;
    width: 100%;
  }
}
