.product-card-button {
  position: relative;
  width: 100%;
  background-color: $white;
  color: $red;
  border: 1px solid $red;
  margin-bottom: 10px;

  &.added {
    color: $white;
    background-color: $red;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/trash.svg);
    top: -1px;
    right: -1px;
    border-left: 1px solid $white;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border-radius: 0 5px 5px 0;
    width: 41px;
    height: 38px;
    background-color: $red;
  }
  &:hover {
    background-color: $red;
    color: $white;
  }
}

.default-btn {
  background-color: $btn-color;
  padding: 12px 22px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s linear;

  &:hover {
    cursor: pointer;
    color: $white;
    box-shadow: $btn-shadow;
    transition: 0.2s linear;
  }
}
