.product-card {
  padding: 10px;
  position: relative;
  transition: 0.2s ease-in;
  overflow: hidden;
  &:hover {
    box-shadow: 0 0 9px 5px $card-shadow-color;
    transition: 0.1s ease-out;
    overflow: visible;
    & .details-btn {
      opacity: 1;
      transition: 0.2s ease-in;
    }
  }
  & .details-btn {
    opacity: 0;
    transition: 0.2s ease-in;
    margin-bottom: 0 !important;
  }

  .card-title {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    height: 40px;
  }

  .prdouct-image a {
    border: 1px solid $border;
    cursor: pointer;

    min-height: 270px;
    margin-bottom: 10px;
    display: block;
  }

  .product-card-button {
    position: relative;
    width: 100%;
    background-color: #fff;
    color: $red;
    border: 1px solid $red;
    margin-bottom: 10px;
    &.added {
      color: $white;
      background-color: $red;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/trash.svg);
      top: -1px;
      right: -1px;
      border-left: 1px solid $white;
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      border-radius: 0 5px 5px 0;
      width: 41px;
      height: 38px;
      background-color: $red;
    }
    &:hover {
      background-color: $red;
      color: $white;
    }
  }

  .hot-price {
    border-radius: 5px;
    padding: 5px 14px;
    background-color: $red;
    color: $white;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
.card-preloader {
  width: 100%;
  min-height: 370px;
  margin: 0 auto 15px;
}
.card-loader {
  background-color: #fff;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08), 0 -1px 3px 0 rgba(0, 0, 0, 0.06);
  padding: 8px;
  position: relative;
  border-radius: 2px;
  margin-bottom: 0;
  min-height: 370px;
  overflow: hidden;

  &:only-child {
    margin-top: 0;
  }

  &:before {
    content: "";
    height: 110px;
    display: block;

    background-color: #ededed;
    box-shadow: -48px 78px 0 -48px #ededed, -51px 102px 0 -51px #ededed;
  }

  &:after {
    content: "";
    background-color: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-name: loader-animate;
    animation-timing-function: linear;
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    background: -o-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  }
}

// Loader animation
@keyframes loader-animate {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
