.checkbox_label {
}
.filter_box {
  .checkbox_label {
    cursor: pointer;
    margin-right: 20px;
    .checkbox {
      height: 20px;
      width: 20px;
      position: relative;
      background: none;
      margin-right: 15px;
      vertical-align: top;
      cursor: pointer;
      &:hover:before {
        border-color: $red;
      }
      &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: $white;
        border: 1px solid $dark-grey;
      }
      &:after {
        content: "";
        transform: rotate(45deg);
        position: absolute;
        opacity: 0;
        width: 7px;
        height: 13px;
        transition: 0.2s ease-in;
        border-right: 3px solid $white;
        border-bottom: 3px solid $white;
        right: 6px;
        top: 1px;
      }
      &:checked::before {
        background-color: $red;
      }
      &:checked::after {
        transition: 0.2s ease-in-out;
        opacity: 1;
      }
    }
  }
}
