.product-description {
  font-size: 12px;
  overflow: hidden;
  width: 100%;
  height: 0;
  z-index: 111;
  position: absolute;
  box-shadow: 0 9px 9px 1px $card-shadow-color;
  background-color: $white;
  margin: 10px -10px 10px -10px;

  .items-container {
    padding-left: 10px;
  }

  & li {
    position: relative;
    padding-left: 15px;
    font-size: 13px;
    margin-bottom: 15px;
  }
  & li::before {
    content: "";
    border: 1px solid $red;
    border-radius: 50%;

    height: 7px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 7px;
  }
  & li span {
    font-size: 15px;
    font-weight: bold;
  }
}

.details-default {
  transform: translateY(-300px);
}
.details-enter {
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
}
.details-leave {
  transform: translateY(-300px);
  transition: transform 0.4s ease-in-out;
}
.details-active {
  transform: translateY(0);
}
