.error_container {
  text-align: center;
  margin: 0 auto;
  .error_text {
    color: $red;
    padding-top: 100px;
    font-size: 40px;
    font-weight: bold;
  }
  .error_btn {
    margin-left: auto;
  }
}
