.wrapper {
  min-height: 500px;
  padding: 20px 0;
  .sort-wrapper {
    border-bottom: 1px solid $dark-grey;
  }
  .default-btn {
    margin-bottom: 30px;
    outline: none;
  }
}
.pagination {
  display: flex;
  z-index: 11;
  width: 500px;
  margin: 30px auto 0 auto;
  li a {
    display: block;
    cursor: pointer;
    padding: 12px 20px;
    height: 46px;
    color: $link;
    height: 46px;
  }
  li {
    &:hover:not(.pagination_active) {
      background-color: $brightness-grey;
    }
  }
  &_active {
    background: $link;
  }
  &_active-link {
    color: $white !important;
  }
}
