.Error404 {
  text-align: center;
  padding-top: 100px;
  color: red;
  font-size: 80px;
  font-weight: bold;
  padding-top: 100px;
}
.error_text {
  color: red;
  padding-top: 100px;
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
}
