.signin {
  &-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 55;
    border-radius: 5px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 22px -2px grey;
    margin: 0 auto;
  }
  &_tabs {
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    & > span {
      cursor: pointer;
      &:first-child {
        margin-right: 30px;
      }
    }
    .active {
      color: blue;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;

    &_btn {
      background: red !important;
      width: 140px;
      padding: 12px 30px !important;
      color: #fff !important;
      margin-top: 40px !important;
    }
    & > div:not(:last-child) {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}
body .signin-modal {
  position: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(182, 181, 181, 0.5);
  z-index: 2;
}
.name {
  margin-left: 5px;
  margin-right: 5px;

  width: 200px;
}
