.product-card {
  padding: 10px;
  position: relative;
  transition: 0.2s ease-in;
  overflow: hidden;
  &:hover {
    box-shadow: 0 0 9px 5px #c9c7c7;
    transition: 0.1s ease-out;
    overflow: visible;
    & .details-btn {
      opacity: 1;
      transition: 0.2s ease-in;
    }
  }
  & .details-btn {
    opacity: 0;
    transition: 0.2s ease-in;
    margin-bottom: 0 !important;
  }

  .card-title {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    height: 40px;
  }

  .prdouct-image a {
    border: 1px solid rgb(212, 211, 211);
    cursor: pointer;

    min-height: 270px;
    margin-bottom: 10px;
    display: block;
  }

  .product-card-button {
    position: relative;
    width: 100%;
    background-color: #fff;
    color: red;
    border: 1px solid red;
    margin-bottom: 10px;
    &.added {
      color: #fff;
      background-color: red;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../../../images/trash.svg);
      top: -1px;
      right: -1px;
      border-left: 1px solid #fff;
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      border-radius: 0 5px 5px 0;
      width: 41px;
      height: 38px;
      background-color: red;
    }
    &:hover {
      background-color: red;
      color: #fff;
    }
  }

  .hot-price {
    border-radius: 5px;
    padding: 5px 14px;
    background-color: rgb(248, 4, 4);
    color: #fff;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
