$red: rgb(245, 8, 8);
$red-hover: rgb(252, 90, 90);
$white-grey: rgb(238, 236, 236);
$brightness-grey: rgb(245, 245, 245);
$white: #fff;
$border: rgb(214, 213, 213);
$card-shadow-color: #c9c7c7;

$lime: rgb(115, 231, 19);
$orange: rgb(255, 136, 25);
$dark-grey: rgb(133, 130, 130);

$link: #4a92f0;
$btn-color: #ffc600;
$stars-color: rgb(255, 226, 60);
$btn-shadow: 1px 1px 15px -3px #ffc600;

$black: #000;

$base-duration: 500ms;

$color-1: #2c3e50;
$color-2: #3498db;
$color-3: #2ecc71;

$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);
