$red: rgb(245, 8, 8);
$red-hover: rgb(252, 90, 90);
$white-grey: rgb(238, 236, 236);
$brightness-grey: rgb(245, 245, 245);
$white: #fff;
$border: rgb(214, 213, 213);

$lime: rgb(115, 231, 19);
$orange: rgb(255, 136, 25);
$dark-grey: rgb(133, 130, 130);

$link: #4a92f0;
