.forsale {
  margin-bottom: 10px;
  font-size: 14px;
  .forSale-text {
    & .fa-check {
      background-color: rgb(106, 201, 98);
    }
    & .fa-times {
      background-color: rgb(204, 54, 54);
    }
    & i {
      margin-right: 8px;
      color: #fff;
      font-size: 12px;
      padding: 4px 5px;
      border-radius: 50%;
    }
  }
}
