.stars-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  width: 40%;
  .review {
    color: rgb(45, 146, 212);
  }
  i {
    color: rgb(255, 226, 60);
    font-size: 14px;
  }
  span {
    vertical-align: middle;
    margin-left: 10px;
    font-weight: 500;
    font-size: 14px;
  }
}
