.wrapper {
  min-height: 500px;
  padding: 20px 0;
  .sort-wrapper {
    border-bottom: 1px solid grey;
  }
}
.pagination {
  display: flex;
  z-index: 11;
  width: 500px;
  margin: 30px auto 0 auto;
  li {
    cursor: pointer;
    padding: 20px;
    &:hover:not(.pagination_active) {
      background-color: rgb(238, 241, 245);
    }
    a {
      color: rgb(74, 146, 240);
    }
  }

  &_active {
    background: rgb(74, 146, 240);
  }
  &_active-link {
    color: #fff !important;
  }
}
