.header {
  position: fixed;
  background: rgb(241, 240, 240);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  z-index: 100;
  .user-controls {
    cursor: pointer;
    transition: 0.2s linear;
    fill: rgb(73, 73, 73);
    &:hover {
      fill: red;
      transition: 0.2s linear;
    }
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .user-garage {
      position: relative;
      animation: userCabAppear 0.4s ease-in;
      div {
        display: inline-block;
        &:first-child {
          margin-right: 10px;
        }
      }
      .dp-menu {
        position: absolute;
        opacity: 0;
        display: none;
        overflow: hidden;
        width: 100px;
        right: 0;
        bottom: -5px;
        transform: translateY(100%);

        box-shadow: 0 5px 25px -7px grey;

        & > li {
          text-align: center;
          font-size: 14px;
          display: block;
          padding: 7px 0;
          background-color: rgb(240, 240, 240);
          transition: 0.1s linear;
          cursor: pointer;

          &:hover {
            color: red;
            background-color: rgb(228, 225, 225);
            transition: 0.1s linear;
          }
          & span i {
            margin-right: 10px;
          }
        }
      }
    }
    .active-link {
      color: red;
      position: relative;
      font-weight: bold;
      &:after {
        content: "";
        position: absolute;
        bottom: -22px;
        left: 0;

        width: 100%;
        height: 2px;
        background-color: red;
      }
    }
    .user-bucket {
      margin-left: 30px;
      position: relative;
      transition: 0.2s linear;
      fill: rgb(73, 73, 73);
      &:hover {
        transition: 0.2s linear;
        fill: red;
      }
      .bucket-count {
        position: absolute;
        border-radius: 50%;
        padding: 2px 5px;
        font-size: 12px;
        font-weight: bold;
        right: -8px;
        top: -5px;
        background-color: red;
        color: #fff;
      }
    }
  }
}
.burder-list {
  .active-link {
    color: red;

    transition: 0.2s ease-in-out;
  }
}
.header-left {
  width: 40%;
  .active-link {
    background-color: red;
    position: relative;

    color: #fff;
    transition: 0.2s ease-in-out;
  }
  & a {
    padding: 23px;
    &:hover {
      background-color: rgb(252, 90, 90);
      color: #fff;
      transition: 0.2s ease;
    }
  }
  .menu {
    display: flex;
  }
}

.welcome {
  padding-top: 12px;
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline;
}
.user-img {
  background-color: Red;

  position: relative;
  color: #fff;
  padding: 13px 12px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.1s ease-out;
  &:hover {
    background-color: rgb(36, 36, 36);
    color: #fff;
    transition: 0.1s ease-in;
    &::after {
      visibility: visible;
    }
  }
  &:after {
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(-138deg);

    visibility: hidden;

    border-right: none;
    top: 44px;
    right: 19px;
    border-bottom: none;
    background-color: rgb(36, 36, 36);
    position: absolute;
  }
  border-radius: 50%;
  span {
    font-weight: bold;
  }
}

.dp-open {
  opacity: 1 !important;
  display: block !important;
  animation: dropdown 0.1s linear !important;
}

@keyframes userCabAppear {
  from {
    opacity: 0;
    transition: 0.3s ease-in;
  }
  to {
    opacity: 1;
    transition: 0.3s ease-in;
  }
}

@keyframes dropdown {
  0% {
    height: 0;
    opacity: 0;
    display: none;
  }
  1% {
    height: 0;
    opacity: 0;
  }
  99% {
    height: 40px;
    opacity: 1;
  }
  100% {
    display: block;
  }
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 20px;
  cursor: pointer;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(236, 234, 234);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}
