.header {
  .user-garage {
    display: flex;
    justify-content: space-around;
    width: 200px;
    position: relative;

    .dp-menu {
      position: absolute;
      opacity: 0;
      display: none;
      overflow: hidden;
      width: 100px;
      right: 0;
      bottom: -5px;
      transform: translateY(100%);

      box-shadow: 0 5px 25px -7px grey;

      & > li {
        text-align: center;
        font-size: 14px;
        display: block;
        padding: 7px 0;
        background-color: rgb(240, 240, 240);
        transition: 0.1s linear;
        cursor: pointer;

        &:hover {
          color: red;
          background-color: rgb(228, 225, 225);
          transition: 0.1s linear;
        }
        & span i {
          margin-right: 10px;
        }
      }
    }
  }

  .welcome {
    padding-top: 12px;
    font-size: 15px;
    text-decoration: underline;
  }
  .user-img {
    background-color: Red;

    padding: 10px 0;
    position: relative;
    color: #fff;

    width: 44px;
    height: 44px;
    cursor: pointer;
    transition: 0.1s ease-out;
    &:hover {
      transform: scale(1.2);
      transition: 0.1s ease-in;
    }
    border-radius: 50%;
    span {
      position: absolute;
      font-weight: bold;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .menu {
    display: flex;
    .menu-item {
      padding: 0 20px;
      font-size: 0.9em;

      & > a:hover {
        color: red;
        transition: 0.2s ease;
      }
      & > a {
        transition: 0.2s ease-in-out;
      }
    }
  }
  .user-controls {
    cursor: pointer;
    transition: 0.2s linear;
    fill: rgb(73, 73, 73);
    &:hover {
      fill: red;
      transition: 0.2s linear;
    }
  }
  background: rgba(236, 234, 234, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;

  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    .active-link {
      color: red;
      position: relative;
      font-weight: bold;
      &:after {
        content: "";
        position: absolute;
        bottom: -22px;
        left: 0;

        width: 100%;
        height: 2px;
        background-color: red;
      }
    }
  }
  .header-left {
    width: 40%;
    .active-link {
      color: red;
      position: relative;
      font-weight: bold;
      &:after {
        content: "";
        position: absolute;
        bottom: -22px;
        left: 0;
        fill: red;
        width: 100%;
        height: 2px;
        background-color: red;
      }
    }
  }
  .user-bucket {
    margin-left: 30px;
    position: relative;
    transition: 0.2s linear;
    fill: rgb(73, 73, 73);
    &:hover {
      transition: 0.2s linear;
      fill: red;
    }
    .bucket-count {
      position: absolute;
      border-radius: 50%;
      padding: 2px 5px;
      font-size: 12px;
      font-weight: bold;
      right: -8px;
      top: -5px;
      background-color: red;
      color: #fff;
    }
  }
}
.nav-active {
  color: red;
}
.dp-open {
  opacity: 1 !important;
  display: block !important;
  animation: dropdown 0.1s linear !important;
}
@keyframes dropdown {
  0% {
    height: 0;
    opacity: 0;
    display: none;
  }
  1% {
    height: 0;
    opacity: 0;
  }
  99% {
    height: 80px;
    opacity: 1;
  }
  100% {
    display: block;
  }
}
