.home-category {
  overflow: hidden;

  & img {
    transition: 0.2s linear;
  }
  &:hover img {
    transform: scale(1.2);
    filter: grayscale(100%);
    transition: 0.2s linear;
  }
  &:hover h3 {
    opacity: 1;
    transition: 0.2s linear;
  }
  &:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: 50px;
    }
  }
  & a {
    display: block;
    position: relative;
    text-align: center;
  }

  & h3 {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    width: 100%;
    color: #fff;
    opacity: 0;
    transition: 0.2s linear;
  }
}
@keyframes circlePulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
    opacity: 0.5;
    background-color: #fff;
  }
}
