.product-description {
  font-size: 12px;
  position: relative;
  width: 100%;
  display: none;
  position: absolute;
  box-shadow: 0 9px 9px 1px rgb(185, 184, 184);
  background-color: #fff;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 10px;
  .items-container {
    // animation: detailsOpen 0.2s linear;
    overflow: hidden;
  }
  & li {
    position: relative;
    padding-left: 15px;
    font-size: 13px;
    margin-bottom: 15px;
  }
  & li::before {
    content: "";
    border: 1px solid red;
    border-radius: 50%;

    height: 7px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 7px;
  }
  & li span {
    font-size: 15px;
    font-weight: bold;
  }
  & .see-more {
    display: inline-block;
    padding-left: 10px;

    & i {
      font-size: 25px;
      color: rgb(124, 124, 124);
      margin-right: 10px;
      &.details-acive {
        transform: rotate(180deg);
      }
    }
    & span {
      vertical-align: top;
      font-size: 17px;
    }
    cursor: pointer;

    &:hover i {
      color: #000;
    }
  }
}
