.product-description {
  font-size: 12px;
  position: relative;
  width: 100%;
  transition: 0.1s ease-in-out;
  position: absolute;
  display: none;
  box-shadow: 0 9px 9px 1px rgb(185, 184, 184);

  background-color: #fff;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 10px;

  & p {
    position: relative;
    padding-left: 15px;
    font-size: 13px;

    transition: 0.2s ease-in-out;
  }
  & p::before {
    content: "";
    border: 1px solid red;
    border-radius: 50%;

    height: 7px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 7px;
  }
  & p span {
    font-size: 15px;
    font-weight: bold;
  }
  & .see-more {
    padding-left: 15px;

    font-size: 15px;
    cursor: pointer;

    transition: 0.1s ease-in-out;
    color: rgb(45, 146, 212);
    &:hover {
      text-decoration: underline;
    }
  }
}
.js-box {
  margin-bottom: 13px;
  & p {
    margin-bottom: 0;
  }
}
// .open-content {
//   height: 0;
//   transition: height 0.4s ease-in-out, opacity 0.2s ease-in;
//   opacity: 0;
// }
// .hide-content {
//   height: 30px;
//   opacity: 1;

//   transition: height 0.1s ease-in-out, opacity 0.4s ease-in;
// }
