.feedback {
  border-radius: 5px;

  & i {
    margin-right: 7px;
    font-size: 20px;
  }
  &-head {
    width: 100%;
    padding-left: 15px;
    margin-bottom: 40px;
    font-weight: bold;
    & span {
      background-color: red;
      border-radius: 50%;
      font-size: 24px;
      vertical-align: top;
      color: #fff;
      padding: 5px 12px;
    }
  }
  &_item {
    &-name {
      font-weight: bold;
    }
    &-plus {
      color: rgb(115, 231, 19);
    }
    &-minus {
      color: rgb(255, 136, 25);
    }
    &-date {
      color: rgb(133, 130, 130);
    }
    width: 100%;
    background-color: #f8f8f8;
    padding: 25px;
    margin-bottom: 25px;
    & p {
      width: 100%;
      word-wrap: break-word;
      font-size: 15px;
      & span {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
  &_form {
    padding: 30px 10px 10px 20px;
    background-color: #f8f8f8;
    & p {
      position: relative;
      display: inline-block;
    }
    & p::after {
      content: "*";
      height: 5px;
      right: -10px;
      top: 0;
      width: 5px;
      color: red;
      position: absolute;
      display: block;
    }
  }
  .feedback_comments {
    width: 100%;
    padding: 8px 10px;
    resize: none;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  & input[type="text"] {
    padding: 8px 15px;
  }
  &_name-input {
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 30px;
  }
  &_send-btn {
    background-color: #ffc600;
    padding: 12px 22px;
    border: none;
    font-size: 15px;
    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 22px -3px #ffc600;
      transition: 0.2s ease-in;
    }
  }
}
