.feedback {
  border-radius: 5px;

  & i {
    margin-right: 7px;
    font-size: 20px;
  }
  &-head {
    position: relative;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 40px;
    font-weight: bold;
    & div {
      position: absolute;
      top: -15px;
      left: 170px;
      background-color: red;
      border-radius: 50%;
      font-size: 20px;
      padding: 5px 0;
      text-align: center;
      color: #fff;
      height: 35px;
      width: 35px;
    }
  }
  &_item {
    &-name {
      font-weight: bold;
    }
    &-plus {
      color: rgb(115, 231, 19);
    }
    &-minus {
      color: rgb(255, 136, 25);
    }
    &-date {
      color: rgb(133, 130, 130);
    }
    width: 100%;
    background-color: #f8f8f8;
    padding: 25px;
    margin-bottom: 25px;
    & p {
      width: 100%;
      word-wrap: break-word;
      font-size: 15px;
      & span {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
  &_form {
    padding: 30px 10px 10px 20px;
    background-color: #f8f8f8;
    & label {
      position: relative;
      display: inline-block;
    }
    & label::after {
      content: "*";
      height: 5px;
      right: 120px;
      top: 0;
      width: 5px;
      color: red;
      position: absolute;
      display: block;
    }
    & span {
      padding-left: 20px;
    }
  }
  .feedback_comments {
    width: 100%;
    padding: 8px 10px;
    resize: none;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  & input[type="text"] {
    padding: 8px 15px;
  }
  &_name-input {
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 30px;
  }
}

.error {
  outline: 1px solid red;
  border: none;
}
.error-label {
  color: red;
}
.error-field {
  color: red;
  font-size: 24px;
}
